<form action="/bookmarks" method="POST">
  <p>
    <label for="name">Bookmark Name:</label>
    <input type="text" name="name">
  </p>
  <p>
    <label for="url">URL:</label>
    <input type="text" name="url">
  </p>
  <input type="submit" name="save" value="Save">
</form>